.cloud.icon.custom {
    font-size: 5em;
    padding-top: 20px;
    padding-right: 10px;
}

.header.wrapper {
    float:left;
    width: 60%;
}

.header.custom {
    float:left;
    width:60%;
    font-size: 30px;
    padding: 15px;
}

.header.middle.custom {
    width:40%;
    font-size: 30px;
    padding: 15px;
}

.header.right.custom {
    width:30%;
    padding: 15px;
}

.ui.fluid.card.custom {
    margin-top: 50px;
}

.ui.buttons.custom {
    width: 100%;
    margin-top: 20px;
    height: 60px;
}